<div class="container">
    <div class="header">
        <div class="kanban">Chatbot <strong> / Bookings</strong></div>
        <div class="header_more">
            <div class="menu">
                <button (click)="setCurrentItem(item)" *ngFor="let item of menuItems" class="menu_item"
                    [class.active]="item.name === currentItem.name">
                    <div class="icon">{{item.icon}}</div>
                    <span>{{item.name}}</span>
                </button>
            </div>
            <div class="search">
                <img src="../../assets/icons/search.svg" alt="">
                <input type="search" placeholder="Search number here...">
            </div>
        </div>
    </div>
    <div class="table_wrapper">
        <div class="table">
            <div class="table_header">
                <div class="th_item">
                    <input type="checkbox">
                </div>
                <div class="th_item">
                    Date & Time
                </div>
                <div class="th_item">
                    Booking ID
                </div>
                <div class="th_item">
                    Customer Name
                </div>
                <div class="th_item">
                    Phone Number
                </div>
                <div class="th_item">
                    Pickup Date/Time
                </div>
                <div class="th_item">
                    Vehicle type
                </div>
                <div class="th_item">
                    Estimated Price
                </div>
                <div class="th_item">
                    Status
                </div>
                <div class="th_item">
                    <span style="opacity: 0;">view</span>
                </div>
            </div>
            <div *ngIf="loading"
                style="height: 100px; width: 100%; display: flex; align-items: center; justify-content: center;">
                <app-loader></app-loader>
            </div>
            <ng-container *ngFor="let booking of bookings;">
                <div *ngIf="!loading" class="table_body">
                    <div class="th_item">
                        <input type="checkbox" [checked]="booking.selected">
                    </div>
                    <div class="th_item">
                        {{booking.createdAt | date }}, {{booking.createdAt | date:'HH:mm a' }}
                    </div>
                    <div class="th_item">
                        {{booking.booking_id}}
                    </div>
                    <div class="th_item">
                        {{booking.user_name ? booking.user_name:'-'}}
                    </div>
                    <div class="th_item">
                        {{booking.phone}}
                    </div>
                    <div class="th_item">
                        <span *ngIf="booking.time != 'ASAP'">{{booking.date}}, {{booking.time}}</span>
                        <span *ngIf="booking.time == 'ASAP'">ASAP</span>
                    </div>
                    <div class="th_item">
                        {{booking.vehicle_type}}
                    </div>
                    <div class="th_item">
                        {{booking.estimated_fare}}
                    </div>
                    <div class="th_item">
                        <div class="badge">Completed</div>
                    </div>
                    <div class="th_item">
                        <button class="toggle_more" (click)="selectBooking(booking)">
                            {{selectedBooking === booking._id ? "Hide":"View"}}
                        </button>
                    </div>
                </div>
                <div *ngIf="currentBookingDetails" class="booking_dets_wrapper"
                    [class.active]="selectedBooking === booking._id">
                    <div class="booking_dets">
                        <div class="bd_left">
                            <div class="bdl_top">
                                <div class="total">
                                    <div>
                                        <span>Total Amount</span>
                                        <div class="badge">Completed</div>
                                    </div>
                                    <h3>£{{currentBookingDetails.payment.total}}</h3>
                                </div>
                                <div class="bd_dets">
                                    <div>
                                        <span>Booking Name</span>
                                        <span>{{booking.user_name}}</span>
                                    </div>
                                    <div>
                                        <span>Vehicle</span>
                                        <span>{{currentBookingDetails.vehicle_type}}</span>
                                    </div>
                                    <div>
                                        <span>Scheduled For</span>
                                        <span>{{booking.date}} {{booking.time}}</span>
                                    </div>
                                    <div>
                                        <span>Estimated Price</span>
                                        <span>{{booking.estimated_fare}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="bdl_bottom">
                                <div class="company_dets">
                                    <div class="dp">I</div>
                                    <div class="other_dets">
                                        <span>WhatsApp Profile</span>
                                        <strong>{{booking.user_name}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bd_right">
                            <div class="bdr_item">
                                <strong>Customer Name</strong>
                                <span>{{booking.user_name}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Contact Number</strong>
                                <span>{{booking.phone}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Booking Creation Date</strong>
                                <span>{{booking.createdAt | date}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Booking ID</strong>
                                <span>{{booking.booking_id}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Pickup Date/Time</strong>
                                <span *ngIf="booking.time != 'ASAP'">{{booking.date}}, {{booking.time}}</span>
                                <span *ngIf="booking.time == 'ASAP'">ASAP</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Current Status</strong>
                                <span>{{currentBookingDetails.status}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Pickup Location</strong>
                                <span>{{currentBookingDetails.address.formatted}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Drop-Off Location</strong>
                                <span>{{currentBookingDetails.destination.formatted}}</span>
                            </div>
                            <div class="bdr_item">
                                <strong>Customer Notes</strong>
                                <textarea placeholder="Note From Customer"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>