<div class="data_table" (click)="toggleShowSearch($event)">
    <div class="dt_header">
        <div class="buttons_group">
            <button *ngIf="!showSearch" class="search_toggle_btn">
                Target
            </button>
            <input type="search" placeholder="Search here.." *ngIf="showSearch" id="search_input"
                class="search_toggle_btn">
            <select>
                <option value="">Target Types</option>
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
            </select>
            <select>
                <option value="">Status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
                <option value="blocked">Blocked</option>
            </select>
            <select>
                <option value="">Send Via</option>
                <option value="Whatsapp">Whatsapp</option>
                <option value="SMS">SMS</option>
            </select>
        </div>
        <div class="search_and_date" *ngIf="!showSearch">
            <div class="search">
                <input type="search" placeholder="search messages">
                <img src="../../assets/icons/search.svg" alt="s">
            </div>
            <button>
                <img src="../../assets/icons/calendar.svg" alt="c">
            </button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Created Date</th>
                <th>Target Type</th>
                <th>Target</th>
                <th>Message Type</th>
                <th>Sent Via</th>
                <th>Status</th>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Created Date</td>
                <td>Target Type</td>
                <td>Target</td>
                <td>Message Type</td>
                <td>Sent Via</td>
                <td>Status</td>
                <td>Messages</td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td>Target Type</td>
                <td>Target</td>
                <td>Message Type</td>
                <td>Sent Via</td>
                <td>Status</td>
                <td>Messages</td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td>Target Type</td>
                <td>Target</td>
                <td>Message Type</td>
                <td>Sent Via</td>
                <td>Status</td>
                <td>Messages</td>
            </tr>
        </tbody>
    </table>
</div>