<header class="navbar">
    <h1>{{title}}</h1>
    <div class="search">
        <img src="../../../assets/icons/search.svg" alt="">
        <input type="search" placeholder="Search here..." />
    </div>
    <div class="right">
        <div class="not">not</div>
        <div class="user">
            <div class="dp">{{user?.name?.[0] ?? "I"}}</div>
            <div class="user_details">
                <p>{{user?.name ?? "Muhammad Imtiaz"}}</p>
                <span>{{user?.phone ?? "03070186322"}}</span>
            </div>
        </div>
    </div>
</header>