<header class="navbar">
    <h1>{{title}}</h1>
    <div class="search">
        <img src="../../../assets/icons/search.svg" alt="">
        <input type="search" placeholder="Search here..." />
    </div>
    <ng-container *ngIf="loading">
        <app-loader></app-loader>
    </ng-container>
    <div *ngIf="!loading" class="right">
        <div class="notification">
            <img src="../../../assets/icons/notification_nav.svg">
        </div>
        <div class="user">
            <div class="dp">{{user?.name?.[0]}}</div>
            <div class="user_details">
                <p>{{user?.name}}</p>
                <span>{{user?.phone}}</span>
            </div>
        </div>
    </div>
</header>