<div class="container">
    <div class="header">
        <div class="kanban">Chatbot <strong> / Bookings</strong></div>
        <div class="header_more">
            <button class="filter">
                Filters
            </button>
            <div class="hm_right">
                <button>Total: 200</button>
                <button>Refresh</button>
                <div class="pagination">
                    <button>&larr;</button>
                    <button class="active">1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <button>&rarr;</button>
                </div>
            </div>
        </div>
    </div>
    <div class="table_wrapper">
        <div class="table">
            <div class="table_header">
                <div class="th_item">
                    <input type="checkbox">
                </div>
                <div class="th_item">
                    Joined At
                </div>
                <div class="th_item">
                    WhatsApp Profile Name
                </div>
                <div class="th_item">
                    WhatsApp Number
                </div>
                <div class="th_item">
                    Total Bookings
                </div>
                <div class="th_item">
                    Actions
                </div>
                <button class="toggle_more">
                    &darr;
                </button>
            </div>
            <ng-container>
                <div class="table_body">
                    <div class="th_item">
                        <input type="checkbox">
                    </div>
                    <div class="th_item">
                        Joined At
                    </div>
                    <div class="th_item">
                        WhatsApp Profile Name
                    </div>
                    <div class="th_item">
                        WhatsApp Number
                    </div>
                    <div class="th_item">
                        Total Bookings
                    </div>
                    <div class="th_item">
                        Actions
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>