.container {
    height: 500px;
    padding: 1.25rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.container>h4 {
    color: #161616;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--jakarta);
}

.chart_con {
    flex: 1;
}