<main class="content">
    <app-messages-sidebar></app-messages-sidebar>
    <div class="instance_grid">
        <div class="instance_card" *ngFor="let instance of instanceData">
            <div class="ic_top">
                <h4>{{instance.name}}</h4>
                <div class="ict_right">
                    <span class="limit_text" *ngIf="instance.limit > 0 && instance.isEditable">
                        {{instance.value.length}} / {{instance.limit}} characters
                    </span>
                    <button class="edit" (click)="toggleEdit(instance.id)">
                        <img src="../../assets/icons/edit.svg" alt="e">
                        <span>{{instance.isEditable ? "Save": "Edit"}}</span>
                    </button>
                </div>
            </div>
            <textarea [disabled]="!instance.isEditable" [(ngModel)]="instance.value"
                (ngModelChange)="onTextAreaChange(instance, $event)" placeholder="Type here..."></textarea>
        </div>
    </div>
</main>