.container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.top {
    display: flex;
    gap: 1.5rem;
}

.reports {
    flex: 1;
    padding: .5rem;
}

.bottom {
    display: flex;
    gap: 1.5rem;
}

.devices {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    padding: 1rem 1.5rem;
    margin-top: .7rem;
    min-width: 411px;
}

.activity {
    flex: 1;
}

.d_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_header h4 {
    color: #161616;
    font-family: var(--jakarta);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.d_header a {
    color: #000;
    font-family: var(--jakarta);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.d_body {
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    max-height: 300px;
    overflow-y: auto;
}

.d_card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.d_c_info {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.d_c_info span {
    color: #000;
    font-family: var(--jakarta);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.d_card>span {
    color: #000;
    font-size: 14px;
    font-family: var(--jakarta);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.d_card .status {
    background-color: #787878;
    height: 11px;
    width: 11px;
    border-radius: 11px;
    flex-shrink: 0;
}

.d_card .status.active {
    background-color: #0B7A60;
}

.mobile {
    display: none;
}

.bar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8.356px;
    background: var(--Neutral-White, #FFF);
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.50);
    padding: 2rem;
    min-width: 411px;
}

.bc-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.bc-top h3 {
    color: #030303;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}

.bc-top a {
    display: flex;
    align-items: center;
    gap: .2rem;
    color: var(--Diverging-Blue, #3B82F6);
    font-family: "Plus Jakarta Sans";
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21.093px;
    /* 142.857% */
}

.chart {
    max-width: 300px;
    margin: 0 auto;
}

.bc-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.bct-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #737791;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
}

.bct-item:nth-child(1) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #D4D4D4;
}

.bct-item div:nth-child(2) {
    width: 130px;
}

.bct-item div:nth-child(3) {
    width: 70px;
    text-align: right;
}

.bct-item div:nth-child(4) {
    text-align: right;
    width: 35px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--color);
    border-radius: 15px;
}

@media screen and (max-width: 1500px) {
    .container {
        gap: 1rem;
        padding: 1rem;
    }

    .d_header {
        padding: .6rem 1rem;
    }

    .d_header h4 {
        font-size: 1.25rem;
    }

    .d_body {
        margin-top: .7rem;
    }
}

@media screen and (max-width: 976px) {
    .container {
        display: none;
    }

    .mobile {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}