.container-own {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    overflow: hidden !important;
}

.top {
    display: flex;
    gap: 1.5rem;
    height: 350px;
}

.top .reports {
    max-width: calc(100% - 311px - 2rem);
    flex: 1;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px rgba(46, 188, 150, 0.20);
    border-radius: 20px;
    /* max-width: 700px;     */
}

.top .bar-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(46, 188, 150, 0.20);
    padding: 2rem;
    width: 350px;
}

.bottom {
    display: flex;
    gap: 1.5rem;
}

.bottom .activity {
    flex: 1;
    max-width: calc(100% - 342px - 2rem);
    border-radius: 20px;
}

.bottom .devices {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    padding: 1rem 1.5rem;
    width: 350px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(46, 188, 150, 0.20);
}



.d_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_header h4 {
    color: var(--dark-color, #181818);

    /* Heading */
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.d_header a {
    border-radius: 70px;
    background: rgba(46, 188, 150, 0.20);
    padding: .6rem 1rem;
    color: #2EBC96;
    text-align: center;
    font-family: Nunito;
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.42px;
}

.d_body {
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    max-height: 300px;
    overflow-y: auto;
}

.d_card {
    border-radius: 20px;
    background: var(--Secondary-Primary-White, #FFF);
    box-shadow: 0px 2px 40px 0px rgba(112, 144, 176, 0.12);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 9px 0px #EEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.icon img {
    width: 65%;
}

.d_details {
    display: flex;
    flex-direction: column;
}

.name {
    color: var(--dark-color, #181818);
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.54px;
}

.d_details span {
    color: var(--text, #636364);
    font-family: Nunito;
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.42px;
    white-space: nowrap;
}

.d_details span span {
    color: #3CD856;
}

.percentage {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--bold-text, #333540);
    text-align: center;
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.d_badge {
    padding: .5rem .75rem;
    color: #3CD856;
    text-align: center;
    font-family: Nunito;
    font-size: .6rem;
    border-radius: 70px;
    background: rgba(60, 216, 86, 0.20);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
}

.mobile {
    display: none;
}



.bc-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.bc-top h3 {
    color: var(--dark-color, #181818);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.bc-top a {
    color: #2EBC96;
    font-family: Nunito;
    font-size: .9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.42px;
    display: flex;
    align-items: center;
}

.chart {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.labels {
    border-radius: 15.969px;
    background: #FFF;
    box-shadow: 0px 19.163px 42.584px 0px rgba(112, 144, 176, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.label div {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.labels label {
    color: #A3AED0;
    font-family: Nunito;
    font-size: .75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    position: relative;
}

.labels label::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: var(--color);
}

.labels p {
    color: var(--dark-color, #181818);
    text-align: right;
    font-family: Nunito;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

/* .bc-table {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
}

.bct-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #333540;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
}

.bct-item:nth-child(1) {
    padding-bottom: 1rem;
    border-bottom: 1px solid #D4D4D4;
}

.bct-item div:nth-child(2) {
    width: 130px;
}

.bct-item div:nth-child(3) {
    width: 70px;
    text-align: right;
}

.bct-item div:nth-child(4) {
    text-align: right;
    width: 35px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--color);
    border-radius: 15px;
} */

.activity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: calc(100% - 411px - 2rem);
    padding: 1.25rem;
    border-radius: 1.25rem;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(46, 188, 150, 0.20);
}

.a_top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.a_top h1 {
    color: var(--dark-color, #181818);

    /* Heading */
    font-family: Raleway;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.a_top button {
    padding: .75rem 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.a_top button span {
    color: #333540;
    font-family: Poppins;
    font-size: .95rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.a_top button.filter {
    border-radius: 8px;
    background: linear-gradient(270deg, #2EBC96 0%, #1A9096 100%);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
}

.a_top button.filter span {
    color: white;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    background: linear-gradient(273deg, #2EBC96 2.11%, #1A9096 121.12%);
    padding: 1.5rem 3rem;
    position: relative;
}

.close {
    position: absolute;
    border-radius: 5.343px;
    border: none;
    background: #FFF;
    box-shadow: 0px 0px 5.343px 0px rgba(0, 0, 0, 0.10);
    outline: none;
    top: .6rem;
    right: .6rem;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filters video {
    object-fit: cover;
    border-radius: 5.893px;
    background: #FFFFFD;
    width: 164.56px;
    height: 170px;
    flex-shrink: 0;
}

.filters>.left {
    display: flex;
    gap: 1rem;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.inp_con {
    /* min-width: 250px; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inp_con label {
    color: #FFF;
    font-size: .8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: .2rem;
}

.inp_con select {
    border-radius: 9.418px;
    border: 0.856px solid #D9D9D9;
    background: rgba(217, 217, 217, 0.10);
    outline: none;
    padding: 1rem;
}

.a_table_wrapper {
    overflow-x: auto;
    background: #FFF;
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.25);
}

.a_table {
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.at_item {
    display: flex;
    justify-content: space-between;
    border-radius: 6.201px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.93);
    background: #FFF;
}

.at_item div {
    padding: 1rem;
}


@media screen and (max-width: 1500px) {
    .container-own {
        gap: 1rem;
        padding: 1rem;
    }

    .d_header {
        padding: .6rem 1rem;
    }

    .d_header h4 {
        font-size: 1.25rem;
    }

    .d_body {
        margin-top: .7rem;
    }
}

@media screen and (max-width: 976px) {
    .container-own {
        display: none;
    }

    .mobile {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}