/* .content {
    padding: 1rem;
    height: 80vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border-top: 1px solid #E1E1E1;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    padding: 1.5rem;
}

.left {
    display: flex;
    gap: 1rem;
}

.service_btn {
    outline: none;
    padding: .7rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.30);
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    color: rgba(123, 123, 123, 0.71);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: var(--jakarta);
}

.dot {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.active .dot {
    border: none;
    background-color: #0B7A60;
}

.add_btn {
    border-radius: 5px;
    background: linear-gradient(180deg, #34836E 0%, #0DC997 100%);
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    border: none;
    outline: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: var(--jakarta);
    padding: .75rem 1.8rem;
    cursor: pointer;
}

.table_container .table_wrapper {
    width: 100%;
    margin-top: 1.5rem;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    border-radius: 10px;
    overflow: auto;
}
.table_wrapper table{
    min-width: 600px;
    width: 100%;
}

.table_container th {
    color: #888;
    font-family: var(--jakarta);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem;
}

.table_container td {
    color: #888;
    font-family: var(--jakarta);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem;
    text-align: center;
}


.switch_box {
    height: 26px;
    width: 60px;
    background: #ccc;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: 250ms;
    margin: 0 auto;
}

.switch_box::before {
    content: "";
    border-radius: 17px;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background-color: #fff;
    transition: 250ms;
}

.switch_box.active {
    background: linear-gradient(to left, #34836E 0%, #0DC997 100%);
}

.switch_box.active::before {
    left: 36px;
    background-color: white;
}

.table_wrapper.mobile_view{
    display: none;
}

@media screen and (max-width: 1500px) {
    .header {
        padding: .8rem;
    }

    .service_btn {
        padding: .5rem;
    }

    .add_btn {
        font-size: .9rem;
    }

    .table_container tr {
        box-shadow: 0px 0px 1px 0px rgba(112, 112, 112, 0.34);
    }
}

@media screen and (max-width: 976px) {
    .header{
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }
    .left{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        width: 100%;
    }
    .left form{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        background: #FFF;
        border: 1px solid rgba(165, 165, 165, 0.34);
        grid-column: span 2;
     }

     .service_btn{
        height: 50px;
     }

     .table_wrapper.pc_view{
        display: none;
     }
     .table_wrapper.mobile_view{
        display: flex;
        padding: 1rem;
        flex-direction: column;
        gap: .5rem;
    }
    .item{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(228, 228, 228);
        padding: 1rem;
     }
     .item span{
        font-size: .8rem;
     }
     .item>div{
        display: flex;
        gap: .7rem;
        align-items: center;
     }
     .item>div span
     {
        width: 70px;
        text-align: center;
     }

     .switch_box{
        height: 22px;
        width: 50px;
     }

     .switch_box::before{
        height: 18px;
        width: 18px;
     }
     .switch_box.active::before{
        left: 30px;
     }
} */

.switch_box {
    height: 26px;
    width: 60px;
    background: #ccc;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    transition: 250ms;
}

.switch_box::before {
    content: "";
    border-radius: 17px;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background-color: #fff;
    transition: 250ms;
}

.switch_box.active {
    background: linear-gradient(to left, #34836E 0%, #0DC997 100%);
}

.switch_box.active::before {
    left: 36px;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top {
    background: url(../../../assets/img/block.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: .6rem;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -30px;
    left: 1rem;
}

.top button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.top p {
    max-width: 87ch;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.36px;
}

.table-top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.table-top>div {
    display: flex;
    gap: 1rem;
}

.tt-left button {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.50);
    border: none;
    outline: none;
    padding: .7rem 1rem;
    cursor: pointer;
    color: #737791;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tt-left button.active {
    border-radius: 8px;
    background: linear-gradient(0deg, #2EBC96 0%, #1A9096 100%);
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.50);
    color: white;
}

.search {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.50);
    padding: 0 1rem;
}

.search input {
    padding: .7rem 1rem;
    margin-right: -1rem;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 0;
    color: var(--Greys-Blue-Grey-700, #737791);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tt-right button {
    border-radius: 8px;
    background: linear-gradient(0deg, #2EBC96 0%, #1A9096 100%);
    box-shadow: 0px 5px 22px 0px rgba(238, 238, 238, 0.50);
    border: none;
    outline: none;
    color: #FFF;

    /* Text/Text Regular 1 */
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 1100px;
}

.t-item {
    display: flex;
    border-radius: 5px;
    border-bottom: 1px solid #EEE;
    background: #FFF;
}

.ti-item {
    padding: 1rem;
}

.ti-item:nth-child(1) {
    flex: .3;
}

.ti-item:nth-child(2) {
    flex: 1;
}

.ti-item:nth-child(3),
.ti-item:nth-child(4) {
    flex: .5;
}

.ti-item {
    flex: .3;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.actions button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
}

.actions button:hover>svg {
    stroke: #24CC63;
    stroke-width: 1px;
}

.actions button:hover:before {
    content: var(--content);
    position: absolute;
    left: calc(110% + 5px);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    background: #1A9096;
    box-shadow: 0px 5px 10px -3.887px rgba(0, 0, 0, 0.25);
    padding: .6rem 1rem;
    color: #FFF;
    font-family: Poppins;
    font-size: .8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    z-index: 10;
}

.actions button:hover::after {
    content: "";
    position: absolute;
    left: calc(110% - 5px);
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid transparent;
    border-right: 10px solid #1A9096;
    border-bottom: 5px solid transparent;
}