.content {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.instance_grid {
    display: grid;
    flex: 1;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.2fr .8fr;
}

.instance_card {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    padding: 1rem .7rem;
    display: flex;
    flex-direction: column;
}

.ic_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem;
}

.ic_top h4 {
    font-family: var(--jakarta);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #1C9679 0%, #0DC997 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 1px;
    border-bottom: 1px solid #CCC;
    padding-bottom: .34rem;
}

.ict_right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ict_right>span {
    font-size: 13px;
    font-weight: 500;
    color: #353535;
}

.edit {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 2px 5px 0px rgba(165, 165, 165, 0.34);
    display: flex;
    gap: .5rem;
    padding: .2rem .5rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.instance_card textarea {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid #e1e1e1;
    padding: 1rem;
    font-size: .8rem;
    font-style: normal;
    line-height: normal;
    font-family: var(--jakarta);
    resize: none;
}

.instance_card:nth-child(4) {
    grid-column: span 3;
}

@media screen and (max-width: 1500px) {
    .ic_top h4 {
        font-size: 1rem;
    }

    .edit {
        font-size: .7rem;
    }

    .edit img {
        width: 10px;
        height: 10px;
        object-fit: contain;
    }
}

@media screen and (max-width: 976px) {
    .instance_grid{
        display: flex;
        flex-wrap: wrap;
    }
    .instance_card{
        flex: 1;
        min-width: 300px;
        height: 400px;
    }
}