<!-- <main class="content">
    <aside class="sidebar">
        <h4>Devices</h4>
        <ul>
            <li *ngFor="let item of devices" (click)="setCurrent(item.id)" [class.active]="current?.id === item.id">
                <img [src]="current?.id === item.id ? '../../assets/icons/device_active.svg' : '../../assets/icons/device.svg'"
                    alt="a">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </aside>
    <div class="right">
        <div class="banner">
            <div class="top">
                <div class="t_left">
                    <div class="name">
                        <img src="../../assets/icons/whatsapp.svg" alt="w">
                        <span>{{current?.model}}</span>
                    </div>
                    <div class="status">
                        <span>Auth Status:</span>
                        <strong>
                            <div class="dot" [class.active]="current?.auth_status?.toLowerCase() === 'authenticated'">
                            </div>
                            {{current?.auth_status}}
                        </strong>
                    </div>
                    <div class="status">
                        <span>Connection:</span>
                        <strong>{{current?.connection}}</strong>
                    </div>
                </div>
                <div class="t_right">
                    <button>
                        <img src="../../assets/icons/refresh.svg" alt="r">
                    </button>
                    <button>
                        <img src="../../assets/icons/logout.svg" alt="r">
                    </button>
                    <button>
                        <img src="../../assets/icons/reload.svg" alt="r">
                    </button>
                </div>
            </div>
            <img src="../../assets/banner.svg" alt="banner" class="banner_img">
        </div>
        <div class="device_content">
            <div style="margin-bottom: 1.5rem; height: 500px;">
                <app-reports></app-reports>
            </div>

            <app-stats [statsCardStyles]="'row'"></app-stats>
            <div class="note">
                <p>
                    Please note that “not sent” , might be because target is not valid mobile or international number or
                    your settings are configured not be send this Message type by SMS.
                    <br>
                    <br>
                    Device sending is limited to avoid bans , these limits are gradually reduced to mitigate that risk.
                </p>
            </div>
            <div class="tables">
                <div class="table_card">
                    <div class="tc_header">
                        <h4>Message To Driver</h4>
                    </div>
                    <div class="tc_body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Message Type</th>
                                    <th>Duration</th>
                                    <th>Total</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Message Type</td>
                                    <td>Duration</td>
                                    <td>Total</td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table_card">
                    <div class="tc_header">
                        <h4>Bookings</h4>
                    </div>
                    <div class="tc_body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>Total</th>
                                    <th>Cancelled</th>
                                    <th>Confirmed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Duration</td>
                                    <td>Total</td>
                                    <td>Cancelled</td>
                                    <td>Confirmed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <app-activity-details></app-activity-details>
        </div>
    </div>
</main> -->

<div class="container-own">
  <ul class="menu">
    <!-- <li
      *ngFor="let item of deviceList"
      (click)="setCurrent(item.id)"
      [class.active]="current?.id === item.id"
    >
      <div class="icon">
        <img src="../../../assets/androidlogo.png" alt="a" />
      </div>
      <div>
        <p>{{ item.connection }}</p>
        <p>{{ item.name }}</p>
      </div>
    </li> -->
    <li
      *ngFor="let item of deviceList"
      (click)="setCurrent(item.id)"
      [class.active]="currentDevice?.id === item.id"
    >
      <div class="icon">
        <img src="../../../assets/androidlogo.png" alt="a" />
      </div>
      <div>
        <p>{{ item.active ? "Active" : "Unactive" }}</p>
        <p>{{ item.device_name }}</p>
      </div>
    </li>
  </ul>

  <div class="header">
    <div class="grid-img">
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
      <img src="../../../assets/bg-grid.png" />
    </div>
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      "
    >
      <div class="h-item">
        <strong>Device Name</strong>
        :
        <span>{{ currentDevice?.device_name }}</span>
      </div>
      <div class="h-item">
        <strong>Auth Status</strong>
        :
        <span>{{
          currentDevice?.status ? "Authenticated" : "Unauthenticated"
        }}</span>
      </div>
      <div class="h-item">
        <strong>Connection</strong>
        :
        <span>{{ currentDevice?.active ? "Active" : "Inactive" }}</span>
      </div>
    </div>
    <div>
      <div
        (click)="openGreenApi(currentDevice, 0)"
        class="device-btn-container"
      >
        <button><img src="../../../assets/d-reboot.png" /></button>
        <button (click)="logoutGreenApi(currentDevice, 0)">
          <img src="../../../assets/d-logout.png" />
        </button>
        <button (click)="rebootGreenApi(currentDevice, 0)">
          <img src="../../../assets/d-refresh.png" />
        </button>
      </div>

      <div *ngIf="currentDevice?.status == false" class="qr-banner-container">
        <img
          src="../../../assets/qr-banner.png"
          alt="banner"
          class="banner_img"
        />
        <img [src]="qrSrc" />
      </div>
      <img
        *ngIf="currentDevice?.status"
        src="../../../assets/banner.svg"
        alt="banner"
        class="banner_img"
      />
    </div>
  </div>

  <div style="display: flex; gap: 10px">
    <div class="reports">
      <app-reports></app-reports>
    </div>
    <div class="msg-details">
      <div class="msg-details-sec">
        <p class="heading">WhatsApp</p>
        <div>
          Today
          <span>{{ waToday }}</span>
        </div>
        <div>
          15 Minutes
          <span>{{ wa15Min }}</span>
        </div>
        <div>
          30 Minutes
          <span>{{ wa30Min }}</span>
        </div>
        <div>
          60 Minutes
          <span>{{ wa60Min }}</span>
        </div>
        <div>
          06 Hours
          <span>{{ wa60Min }}</span>
        </div>
        <div>
          12 Hours
          <span>{{ wa12Hr }}</span>
        </div>
        <div>
          24 Hours
          <span>{{ wa24Hr }}</span>
        </div>
      </div>
      <div class="msg-details-sec">
        <p class="heading">SMS</p>
        <div>
          Today
          <span>{{ smsToday }}</span>
        </div>
        <div>
          15 Minutes
          <span>{{ sms15Min }}</span>
        </div>
        <div>
          30 Minutes
          <span>{{ sms30Min }}</span>
        </div>
        <div>
          60 Minutes
          <span>{{ sms60Min }}</span>
        </div>
        <div>
          06 Hours
          <span>{{ sms60Min }}</span>
        </div>
        <div>
          12 Hours
          <span>{{ sms12Hr }}</span>
        </div>
        <div>
          24 Hours
          <span>{{ sms24Hr }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="analytics">
    <img class="analytics-bg-img" src="../../../assets/Earning.png" />
    <div class="card">
      <div class="icon"><img src="../../../assets/an-sms.png" /></div>
      <div>
        <p>Total SMS</p>
        <p>5,423</p>

        <p>
          <span><img src="../../../assets/an-arrow.png" /> 16%</span> this month
        </p>
      </div>
    </div>
    <div class="card">
      <div class="icon"><img src="../../../assets/an-whatsapp.png" /></div>
      <div>
        <p>Total WhatsApp</p>
        <p>5,423</p>

        <p>
          <span><img src="../../../assets/an-arrow.png" /> 16%</span> this month
        </p>
      </div>
    </div>
  </div>

  <div class="note-banner">
    <div>
      <p><img src="../../../assets/note-icon.png" /> Importent Note:</p>
      <button><img src="../../../assets/close-icon.png" /></button>
    </div>
    <p>
      Please note that “not sent” , might be because target is not valid mobile
      or international number or your settings are configured not be send <br />
      this Message type by SMS.
    </p>
    <p>
      Device sending is limited to avoid bans , these limits are gradually
      reduced to mitigate that risk.
    </p>
  </div>

  <div class="activity">
    <div class="a_top">
      <h4>All Messages</h4>

      <button (click)="filters()">
        <img src="../../../assets/filter-icon.png" /> Filters
      </button>
    </div>
    <div *ngIf="showFilter" class="filters">
      <button class="close" (click)="filters()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="13"
          height="13"
          viewBox="0 0 13 13"
          fill="none"
        >
          <path
            d="M12.0278 11.6573L0.808298 1.34253M12.0278 1.34253L0.808298 11.6573"
            stroke="#2EBC96"
            stroke-width="1.60279"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div class="filter-inputs">
        <div class="filter-inputs-line">
          <div class="inp_con">
            <label for="">Target</label>
            <select name="" id=""></select>
          </div>
          <div class="inp_con">
            <label for="">Target Type</label>
            <select name="" id=""></select>
          </div>
          <div class="inp_con">
            <label for="">Status</label>
            <select name="" id=""></select>
          </div>
        </div>
        <div class="filter-inputs-line">
          <div class="inp_con">
            <label for="">Send Via</label>
            <select name="" id=""></select>
          </div>
          <div class="inp_con">
            <label for="">From</label>
            <input type="date" />
          </div>
          <div class="inp_con">
            <label for="">To</label>
            <input type="date" />
          </div>
        </div>
      </div>
    </div>
    <div class="a_table_wrapper">
      <div class="a_table">
        <div class="at_item">
          <div>Created At</div>
          <div>Target Type</div>
          <div>Target</div>
          <div>Message Type</div>
          <div>Sent Via</div>
          <div>Status</div>
          <div>Messages</div>
        </div>
        <div class="at_item">
          <div>Created At</div>
          <div>Target Type</div>
          <div>Target</div>
          <div>Message Type</div>
          <div>Sent Via</div>
          <div>Status</div>
          <div>Messages</div>
        </div>
        <div class="at_item">
          <div>Created At</div>
          <div>Target Type</div>
          <div>Target</div>
          <div>Message Type</div>
          <div>Sent Via</div>
          <div>Status</div>
          <div>Messages</div>
        </div>
        <div class="at_item">
          <div>Created At</div>
          <div>Target Type</div>
          <div>Target</div>
          <div>Message Type</div>
          <div>Sent Via</div>
          <div>Status</div>
          <div>Messages</div>
        </div>
      </div>
    </div>
  </div>
</div>
