.container {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
}

.left {
    flex: 5.8;
}

.right {
    flex: 4.2;
}

.stats {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.stats_header {
    padding: 18px 25px;
    border-radius: 5px;
    border-bottom: 1px solid #B5B5B5;
    background: #FFF;
}

.stats_header h4 {
    color: #161616;
    font-family: var(--jakarta);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.stats_body {
    padding: 10px 20px 20px;
}

.cards {
    display: flex;
    gap: .7rem;
}

.card {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(23, 23, 23, 0.35);
}

.card:nth-child(1) {
    background: linear-gradient(109deg, #D4145A 8.81%, #FBB03B 98.75%);
}

.card:nth-child(2) {
    background: linear-gradient(295deg, #08B6A8 5.67%, #38EF7D 97.25%);
}

.card:nth-child(3) {
    background: linear-gradient(115deg, #3A3EB0 3.8%, #1BFFFF 100%);
}

.card img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.card p {
    color: #FFF;
    font-family: var(--jakarta);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card h5 {
    color: #FFF;
    font-family: var(--jakarta);
    font-size: 1.45rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: .75rem;
}

.table {
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
}

.table thead {
    border-radius: 5px;
    border-bottom: 1px solid #E1E1E1;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.table tr th,
.table tr td {
    padding: .5rem;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.d_header {
    border-radius: 5px;
    border-bottom: 1px solid #B5B5B5;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: .7rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d_header h4 {
    color: #161616;
    font-family: var(--jakarta);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.d_header a {
    color: #000;
    font-family: var(--jakarta);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.d_body {
    margin-top: 1rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    max-height: 300px;
    overflow-y: auto;
}

.d_card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.d_c_info {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.d_c_info span {
    color: #000;
    font-family: var(--jakarta);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.d_card>span {
    color: #000;
    font-size: 14px;
    font-family: var(--jakarta);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.d_card .status {
    background-color: #787878;
    height: 11px;
    width: 11px;
    border-radius: 11px;
    flex-shrink: 0;
}

.d_card .status.active {
    background-color: #0B7A60;
}

.data_table {
    margin-top: 1rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: .7rem;
}

.dt_header {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1rem;
}

.buttons_group {
    display: flex;
    gap: .7rem;
}

.buttons_group button,
.buttons_group select {
    border: none;
    outline: none;
    padding: .2rem .7rem;
    border-radius: 5px;
    background: rgba(217, 217, 217, 0.30);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.30);
    color: rgba(123, 123, 123, 0.71);
    font-family: var(--jakarta);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.buttons_group select option {
    color: #111;
}

.search_and_date {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.search {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.25);
    padding: 0 .5rem;
}

.search input {
    padding: .5rem;
    border: none;
    outline: none;
}

.search_and_date button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .7rem;
    border-radius: 5px;
    background: linear-gradient(90deg, #02AABD 0%, #00CDAC 100%);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
}

.search_and_date button img {
    height: 100%;
    object-fit: cover;
}

.data_table table {
    width: 100%;
}

.data_table table thead {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.data_table th {
    padding: .75rem;
    color: #888;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: var(--jakarta);
}

.data_table table tbody tr {
    margin-top: .7rem;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.data_table td {
    color: #7B7B7B;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: .5rem;
    text-align: center;
}