<div class="container">
    <div class="left">a</div>
    <div class="right">
        <div class="stats">
            <div class="stats_header">
                <h4>Statistic</h4>
            </div>
            <div class="stats_body">
                <div class="cards">
                    <div class="card" *ngFor="let card of cardsData">
                        <img [src]="card.icon" [alt]="card.count">
                        <p>{{card.label}}</p>
                        <h5>{{card.count}}</h5>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th><strong>Channels</strong></th>
                            <th><strong>Today</strong></th>
                            <th><strong>15</strong> min</th>
                            <th><strong>30</strong> min</th>
                            <th><strong>60</strong> min</th>
                            <th><strong>12</strong> hours</th>
                            <th><strong>24</strong> hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Whatsapp</td>
                            <td>Today</td>
                            <td>15 min</td>
                            <td>30 min</td>
                            <td>60 min</td>
                            <td>12 hours</td>
                            <td>24 hours</td>
                        </tr>
                        <tr>
                            <td>SMS</td>
                            <td>Today</td>
                            <td>15 min</td>
                            <td>30 min</td>
                            <td>60 min</td>
                            <td>12 hours</td>
                            <td>24 hours</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- devices -->
        <div class="devices">
            <div class="d_header">
                <h4>Devices</h4>
                <a href="/">View all</a>
            </div>
            <div class="d_body">
                <div class="d_card">
                    <div class="d_c_info">
                        <img src="../../assets/icons/android.svg" alt="android">
                        <span>Motorola</span>
                    </div>
                    <span>Motorola Edge 30</span>
                    <div class="status" [class.active]="true"></div>
                </div>
                <div class="d_card">
                    <div class="d_c_info">
                        <img src="../../assets/icons/android.svg" alt="android">
                        <span>Motorola</span>
                    </div>
                    <span>Motorola Edge 30</span>
                    <div class="status" [class.active]="true"></div>
                </div>
                <div class="d_card">
                    <div class="d_c_info">
                        <img src="../../assets/icons/android.svg" alt="android">
                        <span>Motorola</span>
                    </div>
                    <span>Motorola Edge 30</span>
                    <div class="status" [class.active]="false"></div>
                </div>
                <div class="d_card">
                    <div class="d_c_info">
                        <img src="../../assets/icons/android.svg" alt="android">
                        <span>Motorola</span>
                    </div>
                    <span>Motorola Edge 30</span>
                    <div class="status" [class.active]="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>