<main class="content">
    <aside class="sidebar">
        <h4>Devices</h4>
        <ul>
            <li *ngFor="let item of devices" (click)="setCurrent(item.id)" [class.active]="current?.id === item.id">
                <img [src]="current?.id === item.id ? '../../assets/icons/device_active.svg' : '../../assets/icons/device.svg'"
                    alt="a">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </aside>
    <div class="right">
        <div class="banner">
            <div class="top">
                <div class="t_left">
                    <div class="name">
                        <img src="../../assets/icons/whatsapp.svg" alt="w">
                        <span>{{current?.model}}</span>
                    </div>
                    <div class="status">
                        <span>Auth Status:</span>
                        <strong>
                            <div class="dot" [class.active]="current?.auth_status?.toLowerCase() === 'authenticated'">
                            </div>
                            {{current?.auth_status}}
                        </strong>
                    </div>
                    <div class="status">
                        <span>Connection:</span>
                        <strong>{{current?.connection}}</strong>
                    </div>
                </div>
                <div class="t_right">
                    <button>
                        <img src="../../assets/icons/refresh.svg" alt="r">
                    </button>
                    <button>
                        <img src="../../assets/icons/logout.svg" alt="r">
                    </button>
                    <button>
                        <img src="../../assets/icons/reload.svg" alt="r">
                    </button>
                </div>
            </div>
            <img src="../../assets/banner.svg" alt="banner" class="banner_img">
        </div>
        <div class="device_content">
            <!-- <app-reports></app-reports> -->
            <div style="margin-bottom: 1.5rem;">
                <app-multi-series-chart></app-multi-series-chart>
            </div>

            <app-stats [statsCardStyles]="'row'"></app-stats>
            <div class="note">
                <p>
                    Please note that “not sent” , might be because target is not valid mobile or international number or
                    your settings are configured not be send this Message type by SMS.
                    <br>
                    <br>
                    Device sending is limited to avoid bans , these limits are gradually reduced to mitigate that risk.
                </p>
            </div>
            <div class="tables">
                <div class="table_card">
                    <div class="tc_header">
                        <h4>Message To Driver</h4>
                    </div>
                    <div class="tc_body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Message Type</th>
                                    <th>Duration</th>
                                    <th>Total</th>
                                    <th>Yes</th>
                                    <th>No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Message Type</td>
                                    <td>Duration</td>
                                    <td>Total</td>
                                    <td>Yes</td>
                                    <td>No</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table_card">
                    <div class="tc_header">
                        <h4>Bookings</h4>
                    </div>
                    <div class="tc_body">
                        <table>
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>Total</th>
                                    <th>Cancelled</th>
                                    <th>Confirmed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Duration</td>
                                    <td>Total</td>
                                    <td>Cancelled</td>
                                    <td>Confirmed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <app-activity-details></app-activity-details>
        </div>
    </div>
</main>